
.idea/

results.json

mysite/mysite/__pycache__/

mysite/polls/__pycache__/

mysite/polls/migrations/

mysite/compyterstats/__pycache__/

sample.json

__pycache__/

compyter.json

*.sqlite3

compyter_stats/compyterstats/migrations/0002_alter_computer_id.py

compyter_stats/compyterstats/migrations/
